<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.StudentMapper">
    <update id="updatepid">
        update student
        <set>
            <if test="courseId != null and courseId != ''">
                course_id = #{courseId},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
        coursestatus = #{coursestatus}
        </set>
        where id = #{id}
    </update>
    <update id="update">
        update student
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="password != null and password != ''">
                password= #{password},
            </if>
            <if test="info != null and info != ''">
                info = #{info},
            </if>
            <if test="createTime != null and createTime != ''">
                create_time = #{createTime},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            coursestatus = 0
        </set>
        where id = #{id}
    </update>
<!--    <update id="updatecp">-->
<!--        update student-->
<!--        <set>-->
<!--            <if test="coursestatus != null and coursestatus != ''">-->
<!--                coursestatus = #{coursestatus},-->
<!--            </if>-->
<!--            <if test="projectstatus != null and projectstatus != ''">-->
<!--                projectstatus = 0,-->
<!--            </if>-->
<!--            <if test="updateTime != null">-->
<!--                update_time = #{updateTime}-->
<!--            </if>-->
<!--        </set>-->
<!--        where id = #{id}-->
<!--    </update>-->

</mapper>